.login-content{
    width: 100%;
    padding:15%;
    margin: auto;
    height: 100%vh;

}

.btn-login{
    background-color: transparent;
    color:#5856d6;
    border: 2px solid #5856d6;
    transition: .3s ease-in;
}

.btn-login:hover{
    background-color:#af52de;
    border:2px solid #af52de;
    color: white;
}
.link{
    color:#8C8C8C;
    transition: .3s ease-in;
}
.link:hover{
    color:#03CBD6;
}