.cadastro-content{
    width: 100%;
    padding:15%;
    height: 100%vh;

}
.btn-voltar{
    background-color: white;
    transition: .3s ease-in;
    border: 1px solid #8C8C8C;
    color: #8C8C8C;
}

.btn-voltar:hover{
    
    border: 1px solid lightgray;
    background-color: lightgray;
    color: white;
}  